<div class="container">
	<form ng-submit="setMainGt()">
		<input type="text" ng-model="mainGt"></input>
		<button type="submit" class="btn btn-primary">Get Characters</button> {{mainGt}}
	</form>
</div>

<div ng-show="mainGtSet" class="container">
	<h3>Select Character for {{mainGt}}'s Recent Activities</h3>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4 emblem-container" ng-repeat="char in memberData.Response.data.characters">
			<div class="emblem-background" ng-click="setChar(char.characterBase.characterId, memberData.Response.data.membershipId)"
				ng-style="{'background-image': 'url(https://bungie.net' + char.backgroundPath + ')'}">
				<img class="emblem-icon" ng-src="https://bungie.net{{char.emblemPath}}">
				<span class="gamertag-emblem">{{mainGt}}</span>
				<span class="light">{{char.characterBase.powerLevel}}</span>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div ng-show="charSet" class="col-xs-12 col-md-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Game Type</th>
						<th class="text-center">Score</th>
						<th class="text-center">Kills</th>
						<th class="text-center">Deaths</th>
						<th class="text-center">Assists</th>
						<th class="text-center">K/D Ratio</th>
						<!--<th class="text-center">KA/D Ratio</th>-->
						<th class="text-center">Standing</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in activities.Response.data.activities" ng-click="selectActivity(a)">
						<td>{{a.activityDetails.mode}}</td>
						<td class="text-center">{{a.values.score.basic.displayValue}}</td>
						<td class="text-center">{{a.values.kills.basic.displayValue}}</td>
						<td class="text-center">{{a.values.deaths.basic.displayValue}}</td>
						<td class="text-center">{{a.values.assists.basic.displayValue}}</td>
						<td class="text-center">{{(a.values.kills.basic.value/a.values.deaths.basic.value).toFixed(2)}}</td>
						<!--<td class="text-center">{{((a.values.kills.basic.value+a.values.assists.basic.value)/a.values.deaths.basic.value).toFixed(2)}}</td>-->
						<td class="text-center">{{a.values.standing.basic.displayValue}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div ng-show="charSet" class="col-xs-12 col-md-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Kill Type</th>
						<th class="text-center">{{mainGt}}</th>
						<th class="text-center">Fireteam</th>
						<th class="text-center">Allies</th>
						<th class="text-center">Enemies</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in activities.Response.data.activities" ng-click="selectActivity(a)">
						<td>{{a.activityDetails.mode}}</td>
						<td class="text-center">{{a.values.score.basic.displayValue}}</td>
						<td class="text-center">{{a.values.kills.basic.displayValue}}</td>
						<td class="text-center">{{a.values.deaths.basic.displayValue}}</td>
						<td class="text-center">{{a.values.assists.basic.displayValue}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!--
<h4>{{memberData.Response.data.membershipId}}</h4>

-->