<!DOCTYPE html>
<html>

<head>
	<title>AngularRailsPgcr</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
</head>

<body ng-app="pgcr" ng-controller="MainCtrl" class="container">

	<div class="row">
		<div class="col-md-6">
			<ui-view></ui-view>
		</div>
	</div>
</body>
</html>